<style>
        h1 {
            color:#00e1ff          
        }
        h2 {
            color:rgb(#00ffbf, #008000, #0000ff)
        }
        h3 {
            color:#ff0000
        }
        
    </style>