body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: 
    url(/images/pattern.png), 
        url(/images/blossom.jpg);
      
}

h1 {
    background: #4e4949;
    text-align: center;
}

p:nth-of-type(2) {
    background: url(/images/fire.png) no-repeat center/contain;
}